# Ignore everything
*

# Except agal0107-Assignment1 and inverse_1
!agal0107-Assignment1
!agal0107-Assignment1/**
agal0107-Assignment1/python/Test_sets/
!inverse_1
!inverse_1/**
inverse_1/python/Test_sets/